body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #38a39f;
  background-color: white;
  display: flex;
  max-width: 600px;
}

header {
  display: flex;
  max-width: 600px;
  border: solid;
  justify-content: center;
  margin: 20px;
}

header:hover {
  background-color: #38a39f;
  color: white;
}

a {
  text-decoration: none;
  color: #38a39f;
}

a:hover {
  background-color: #38a39f;
  color: white;
}

select {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  width: 150px;
  background-color: white;
  border-color: #38a39f;
}

h3 {
  text-align: center;
}

.waveform {
  justify-content: center;
  text-align: center;
}

.App {
  padding: 10px;
}

.filterDiv {
  justify-content: center;
  margin: 10px;
}

.synth {
  align-items: flex-start;
}

.delay {
  justify-content: center;
  text-align: center;
  align-items: flex-start;
  padding: 10px;
}

.delOnOff {
  flex: 2 2 10px;
}

.VCF {
  display: flex;
  max-width: 600px;

  justify-content: center;
  text-align: center;
}

.knob-VCF {
  width: 100px;
  margin: 10px;
}

#oscilloscope {
  background-color: white;
}

#onOff {
  padding: 20%;
}
