body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  color: #38a39f;
  background-color: white;
  display: flex;
  max-width: 600px;
}

header {
  display: flex;
  max-width: 600px;
  border: solid;
  justify-content: center;
  margin: 20px;
}

.App {
  padding: 30px;
}

.VCF {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

.knob-VCF {
  width: 100px;
  margin: 10px;
}

#oscilloscope {
  background-color: white;
}
